<section id="login-view" class="mainbar matter" data-ng-controller="login as vm">
    <section class="matter">
        <div class="container">
            <div class="col-md-10 text-center">
                <div class="row">
                    <img src="././Content/images/book-icon.jpg" class="icon" style="float:left"/>
                    <h1 style="float:left">Bookrganizer</h1>
                </div>
                
            </div>
            <div class="col-md-10" style="padding-top:30px">
                <h2 class="text-center">Login</h2>
                <form name="loginForm">
                    <p style="color:red" class='bottom-buffer' ng-show="vm.invalidLogin">The username or password is wrong. Please try again.</p>
                    <div class="row top-buffer">
                        <div class="form-group">
                            <label class="text-left"> Username: </label>
                            <input type="text" class="form-control" placeholder="Please enter the username" ng-model="vm.username"  required/>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="form-group">
                            <label class="text-left"> Password: </label>
                            <input type="password" class="form-control" placeholder="Please enter the password" ng-model="vm.password" required />
                        </div>
                    </div> 
                </form>
                <div class="row top-buffer text-center">
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="vm.login()" ng-disabled="loginForm.$invalid">Login</button>
                        <button class="btn btn-primary" ng-click="vm.signUp()">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>