body {
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background: #fafaff !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to bottom,#fafaff,#a4b9e9,#0055f1) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom,#fafaff,#a4b9e9,#0055f1) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom,#fafaff,#a4b9e9,#0055f1) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,#fafaff,#a4b9e9,#0055f1) !important; /* Standard syntax */
}

.top-buffer{
    padding-top:10px;
}

.bottom-buffer{
    padding-bottom:10px;
}

.icon {
    border-radius: 50%;
    width: 40px;
    height: 40px
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    border-radius: 2px !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px !important;
  line-height: 1.428571429;
  border-radius: 15px !important;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px !important;
  line-height: 1.33;
  border-radius: 25px !important;
}

#addItem {
    box-shadow: 2px 2px 3px #999;
}

.alert-sender {
    color: #355e72;
    background-color: #a6dcf3;
    border-color: #41a9be;
}

.alert-receiver {
    color: #1e6e95;
    background-color: #f2f7f9;
    border-color: #a4dde9;
}

.modal-header {
    background-color: #c4edf9;
}

.modal-footer {
    background-color: #c4edf9;
}

.modal-body {
    background-color: #ebf6fa;
}